<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Meta Options -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- Title -->
   <title>Shared on THEMELOCK.COM - Product Detail</title>
  <!-- Bootstrap -->

  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="assets/images/heading-icon.png">
  <link rel="stylesheet" href="assets/font/flaticon_mycollection.css">
  <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css"> 
  <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/nice-select.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"> 
  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
 
</head>
 
<body>
    <!-- Loader Start -->
     
  <div class="preloader">
    <div class="loader-wrap-heading">
      <div class="load-text"> <span>L</span> <span>o</span> <span>a</span> <span>d</span> <span>i</span> <span>n</span> <span>g</span> </div>
    </div>
  </div>
  <!-- Loader End -->
  
  <!-- Header Style One Start -->
  <header class="header-style-one" >
    <div class="container">
      <div class="row">
        <div class="desktop-nav" id="stickyHeader">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex-all justify-content-between">
                  <div class="header-logo">
                    <a href="index.html">
                      <figure>
                        <img src="assets/images/logo-2.svg" alt="logoo">
                      </figure>
                    </a>
                  </div>
                  <div class="nav-bar">
                    <ul>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">Home</a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Home One</a></li>
                          <li><a href="index-2.html">Home Two</a></li>
                          <li><a href="index-3.html">Home Three</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">About</a>
                        <ul class="sub-menu">
                          <li><a href="about.html">About</a></li>
                          <li><a href="features-and-benefits.html">features & benefits</a></li> 
                        </ul>
                      </li>
                      <li class="menu-item-has-children"><a href="JavaScript:void(0)">Shop</a>
                        <ul class="sub-menu"> 
                          <li> <a href="product.html">Our Products</a></li>
                          <li><a href="product-detail.html">Product Details</a></li>
                          <li><a href="cart.html">Shop Cart</a></li>
                          <li><a href="checkout.html">Cart Checkout</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children"><a href="JavaScript:void(0)">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Services</a>
                            <ul class="sub-menu">
                              <li><a href="services.html">services</a></li>
                              <li><a href="service-detail.html">Service Detail</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Classes</a>
                            <ul class="sub-menu">
                              <li><a href="our-classes.html">our classes</a></li>
                              <li><a href="our-classes-2.html">our classes 2</a></li>
                              <li><a href="class-details.html">class details</a></li>
                              <li><a href="classes-schedule.html">classes schedule</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Team</a>
                            <ul class="sub-menu">
                              <li><a href="our-team.html">Our Team</a></li>
                              <li><a href="team-detail.html">Team Detail</a></li>
                            </ul>
                          </li>
                          <li><a href="login.html">Login & Register</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">News</a>
                        <ul class="sub-menu">
                          <li><a href="our-blog-1.html">Our Blog One</a></li>
                          <li><a href="our-blog-2.html">Our Blog Two</a></li>
                          <li><a href="blog-detail.html">Blog Detail</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="contact.html">Contact</a>
                      </li>
                    </ul>
                    
                    <div class="extras">
                       <a href="javascript:void(0)" id="mobile-menu" class="menu-start">
                        <svg id="ham-menu" viewBox="0 0 100 100"> <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" /> <path class="line line2" d="M 20,50 H 80" /> <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" /> </svg>
                      </a>
                      <a href="javascript:void(0)" id="desktop-menu" class="menu-start">
                        <svg id="ham-menue" viewBox="0 0 100 100"> <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" /> <path class="line line2" d="M 20,50 H 80" /> <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" /> </svg>
                      </a>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="theme-btn">Appointment
                      </a>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-nav" id="mobile-nav">
          <div class="res-log">
            <a href="index.html">
              <img src="assets/images/logo-2.svg" alt="Responsive Logo">
            </a>
          </div>
          <ul>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">Home</a>
              <ul class="sub-menu">
                <li><a href="index.html">Home One</a></li>
                <li><a href="index-2.html">Home Two</a></li>
                <li><a href="index-3.html">Home Three</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">About</a>
              <ul class="sub-menu">
                <li><a href="about.html">AbouT</a></li>
                <li><a href="features-and-benefits.html">features & benefits</a></li>  
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Shop</a>
              <ul class="sub-menu">
                <li><a href="product.html">Our Products</a></li>
                <li><a href="product-detail.html">Product Details</a></li>
                <li><a href="cart.html">Shop Cart</a></li>
                <li><a href="checkout.html">Cart Checkout</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">Services</a>
                  <ul class="sub-menu">
                    <li><a href="services.html">services</a></li>
                    <li><a href="service-detail.html">Service Detail</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">classes</a>
                  <ul class="sub-menu">
                    <li><a href="our-classes.html">our classes</a></li>
                    <li><a href="our-classes-2.html">our classes 2</a></li>
                    <li><a href="class-details.html">class details</a></li>
                    <li><a href="classes-schedule.html">classes schedule</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">Team</a>
                  <ul class="sub-menu">
                    <li><a href="our-team.html">Our Team</a></li>
                    <li><a href="team-detail.html">Team Detail</a></li>
                  </ul>
                </li>
                <li><a href="login.html">Login & Register</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">News</a>
              <ul class="sub-menu">
                <li><a href="our-blog-1.html">Our Blog One</a></li>
                <li><a href="our-blog-2.html">Our Blog Two</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <a href="JavaScript:void(0)" id="res-cross"></a>
        </div>
        <div class="mobile-nav desktop-menu">
          <h2>Solutions for moving better and feeling a healthier choice</h2>
          <p class="des">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies.</p>
          <figure>
            <img src="https://via.placeholder.com/320x222" alt="Desktop Menu Image">
          </figure>
          <h3>Free Consulting</h3>
          <p class="num"><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
          <p class="adrs">Timing: Mon to Sat : 08 pm to 12 am</p>
          <ul class="social-media">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="flaticon-twitter"></i></a></li>
              <li><a href="#"><i class="flaticon-instagram"></i></a></li> 
            </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Style One End -->

  <!-- Banner Style One Start -->
  <section class="banner-style-one">
    <div class="parallax" style="background-image: url(https://via.placeholder.com/1920x640);"></div>
    <div class="container">
      <div class="row">
        <div class="banner-details">
          <h2>Product Detail</h2>
          <p>our values and vaulted us to the top of our industry.</p>
        </div>
      </div>
    </div>
    <div class="breadcrums">
      <div class="container">
        <div class="row">
          <ul>
            <li>
              <a href="index.html">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="current">
              <p>Product Detail</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Style One End -->

    <!-- Product Detail Start -->
  <section class="gap no-bottom product-detail light-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="pd-gallery">
            <ul class="pd-imgs">
              <li class="li-pd-imgs">
                <a href="JavaScript:void(0)">
                  <img src="https://via.placeholder.com/460x500" alt="Product Detail Image">
                </a>
              </li>
              <li class="li-pd-imgs">
                <a href="JavaScript:void(0)">
                  <img src="https://via.placeholder.com/460x500" alt="Product Detail Image">
                </a>
              </li>
              <li class="li-pd-imgs">
                <a href="JavaScript:void(0)">
                  <img src="https://via.placeholder.com/460x500" alt="Product Detail Image">
                </a>
              </li>
            </ul>
            <div class="pd-main-img">
              <img id="NZoomImg" data-NZoomscale="2" style="width: 100%;height: 100%;" src="https://via.placeholder.com/460x500" alt="Product Detail Image">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="pd-data">
            <div class="ratings">
              <i class="fa-solid fa-star"></i>
              <span>5.0</span>
            </div>
            <h2>Green Gym Water Bottel</h2>
            <div class="pd-quality">
              <span>Quantity</span>
              <input type="number" name="number" value="1">
            </div>
            <ul class="pd-price">
              <li class="pd-sale-price"><span>$</span>40.00</li>
              <li class="pd-regular-price"><span>$</span><del>50.00</del></li>
            </ul>
            <p class="free-ship">Free Shipping On This Item</p>
            <a href="javascript:void(0)" class="theme-btn">Add to Cart </a>
            <div class="pd-cat-tags">
              <ul>
                <li>
                  <span class="theme-bg-clr font-bold">Sku:</span>
                  <ul class="pd-sku">
                    <li>2CSTD7</li> 
                  </ul>
                </li>
                <li>
                  <span class="theme-bg-clr font-bold">Category:</span>
                  <ul class="pd-cat">
                    <li><a href="JavaScript:void(0)">Gym</a></li>
                    <li><a href="JavaScript:void(0)">Workout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gap detail-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pd-details">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Description</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Additional Information</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Reviews</button>
              </div>
            <div class="more d-flex align-items-start">
               <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <div class="des-tab">
                    <h3>About Product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque. Donec sagittis adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque. Donec sagittis adipiscing elit.</p>
                    <p>A gym isn’t just a place for exercise; it’s the place you go to unwind, socialize & work out. The gym is a whole some experience. Some of the most successful facilities have several gym features that contribute to the kind of member experience that drives retention and sales.</p>
                    <ul class="sm-circle">
                      <li>Experience that drives retention and sales</li>
                      <li>Nurturing and empowering the environment</li>
                      <li>The place you go to unwind, socialize & work out</li>
                    </ul>
                    <figure>
                      <img class="w-100" src="https://via.placeholder.com/1116x561" alt="Description Image">
                    </figure>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div class="adis-tab">
                    <h3>Features & Benefits</h3>
                    <ul class="include">
                      <li><i class="fa-solid fa-check"></i> 30-Minute Fitness Consultation</li>
                      <li><i class="fa-solid fa-check"></i> Guest Passes & Bottled Water</li>
                      <li><i class="fa-solid fa-check"></i> Club 360 Class Facility</li>
                      <li><i class="fa-solid fa-check"></i> Some of the most successful facilities</li>
                      <li><i class="fa-solid fa-check"></i> State of the Art Equipment</li>
                    </ul>
                    <h3>Additional Information</h3>
                    <div class="tab-table">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Colour</td>
                            <td>Mid-Grey</td>
                            
                          </tr>
                          <tr>
                            <td>Size</td>
                            <td>400ml</td>
                            
                          </tr>
                          <tr>
                            <td>Brand</td>
                            <td>Fosroc</td>
                          </tr>
                          <tr>
                            <td>MPN</td>
                            <td>FEX9540</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="rev-tab">
                    <h3>Reviews</h3>
                    <div class="total-reviews d-flex-all justify-content-between">
                      <div class="t-r d-flex-all">
                        5.0 Rating
                      </div>
                      <div class="f-r d-flex-all">
                        <span>( 158 Reviews )</span>
                        <div class="r-s">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </div>
                      </div>
                    </div>
                    <div class="review comments">
                      <ul>
                        <li>
                          <div class="comment">
                            <div class="c-img">
                              <figure>
                                <img src="https://via.placeholder.com/170x170" alt="Comment Image One">
                              </figure>
                            </div>
                            <div class="c-data">
                              <h4>Jonathom Doe</h4>
                              <span>July 31, 2024</span>
                              <p>Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen.</p>
                              <div class="c-r-btn">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="comment">
                            <div class="c-img">
                              <figure>
                                <img src="https://via.placeholder.com/170x170" alt="Comment Image One">
                              </figure>
                            </div>
                            <div class="c-data">
                              <h4>Jonathom Doe</h4>
                              <span>July 31, 2024</span>
                              <p>Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen.</p>
                              <div class="c-r-btn">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="comment">
                            <div class="c-img">
                              <figure>
                                <img src="https://via.placeholder.com/170x170" alt="Comment Image One">
                              </figure>
                            </div>
                            <div class="c-data">
                              <h4>Jonathom Doe</h4>
                              <span>July 31, 2024</span>
                              <p>Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen.</p>
                              <div class="c-r-btn">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <a class="load-more" href="javascript:void(0)">Load More</a>
                    </div>
                    
                  </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="rev-tab">
                        <div class="post-review shape">
                        <h3>Post Review</h3>
                        <div class="select-rating d-flex-all justify-content-start">
                          <span>Select Rating</span>
                          <div class="p-r-s">
                            <img src="assets/images/star.svg" alt="Star Svg">
                            <img src="assets/images/star.svg" alt="Star Svg">
                            <img src="assets/images/star.svg" alt="Star Svg">
                            <img src="assets/images/star.svg" alt="Star Svg">
                            <img src="assets/images/star.svg" alt="Star Svg">
                          </div>
                        </div>
                        <div class="form">
                          <form>
                            <textarea placeholder="Review"></textarea>
                            <div class="row">
                              <div class="form-group col-md-6">
                                <input type="text" name="text" placeholder="Complete Name">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="email" name="email" placeholder="Email Address">
                              </div>
                            </div>
                            <button type="submit" class="theme-btn">Submit Review </button>
                          </form>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Detail End --> 
  <!-- Footer Style One Start -->
  <footer class="footer-style-one" style="background-image: url(https://via.placeholder.com/1920x732);">
    <div class="footer-p-1">
      <div class="container">
        <div class="row">
          <div class="footer-first">
            <div class="footer-logo">
              <a href="index.html">
                <img src="assets/images/logo-2.svg" alt="Footer Logo">
              </a>
            </div>
            <div class="contact-info d-flex-all">
              <div class="images d-flex-all justify-content-start">
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
              </div>
              <p>expert trainers <span>+1 (251) 344 0 66</span> free call !</p>
            </div>
            <a href="contact.html" class="theme-btn">Get a Consultation </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-p-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Information</h3>
              <p>Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day.</p>
              <ul class="social-media">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                <li><a href="#"><i class="flaticon-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Contact</h3>
              <ul>
                <li>
                   <i class="flaticon-maps"></i>
                  <p>901 N Pitt Str., Suite 170, VA 22314, USA</p>
                </li>
                <li>
                   <i class="flaticon-iphone"></i>
                  <p><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
                </li>
                <li>
                   <i class="flaticon-mail"></i>
                  <p><a href="mailto:username@domain.com">username@domain.com</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Newsletter</h3>
              <p>Signup for our weekly newsletter to get the latest news.</p>
              <form>
                <input type="email" name="email" placeholder="Enter your email.">
                <button>
                  <i class="fa-solid fa-arrow-up-long"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="image-gallery">
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li> 
    </ul>
    <div class="footer-p-3 rights">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <p>gym on fitness Center<i class="fa-solid fa-heart"></i> © 2024 <a href="https://winsfolio.net/"> winsfolio.net</a> All rights reserved</p> 
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Style One End -->

    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>

    <div class="modal fade popups conslt-popup" id="exampleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="https://via.placeholder.com/420x591" alt="img">
            <div class="contact-form-one popup">
              <div class="c-form-2">
                <h3>Start Consulting</h3>
                <div class="parallax" style="background-image: url(assets/images/pattren.png);"></div>
                <form>
                  <div class="row g-0">
                    <input type="text" class="form-control" id="exampleInputText1"  placeholder="Complete Name">
                  </div>
                  <div class="row g-0">
                    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Email Address">
                  </div>
                  <div class="row g-0">
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone No">
                  </div>
                  <div class="row g-0">
                    <select id="inputState-21" class="form-control">
                      <option selected>Subject</option>
                      <option>Subject 1</option>
                      <option>Subject 2</option>
                      <option>Subject 3</option>
                    </select>
                  </div>
                  <div class="row g-0">
                    <textarea placeholder="Question / Message?"></textarea>
                  </div>
                  <button type="submit" class="theme-btn">Submit Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Jquery -->

  <script src="assets/js/jquery.min.js"></script>

  <!-- Waypoint -->

  <script src="assets/js/jquery.waypoints.min.js"></script>

  <!-- NZoom -->

  <script src="assets/js/Nzoom.min.js"></script>

  <!-- Counter -->

  <script src="assets/js/jquery.counterup.min.js"></script>

  <!-- Bootstrap Js -->

  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Fancybox Js -->

  <script src="assets/js/jquery.fancybox.min.js"></script>

  <!-- Nice Select Js -->

  <script src="assets/js/jquery.nice-select.js"></script> 

  <!-- Owl Carousal Js -->

  <script src="assets/js/owl.carousel.min.js"></script>

  <!-- Custom Js -->

  <script src="assets/js/custom.js"></script>
</body>

</html>
