<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Meta Options -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- Title -->
   <title>Shared on THEMELOCK.COM - Team Detail</title>
  <!-- Bootstrap -->

  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="assets/images/heading-icon.png">
  <link rel="stylesheet" href="assets/font/flaticon_mycollection.css">
  <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css"> 
  <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/nice-select.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"> 
  <link rel="stylesheet" type="text/css" href="assets/css/style-dark.css"> 
  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
 
</head>
 
<body class="light-d">
    <!-- Loader Start -->
     
  <div class="preloader">
    <div class="loader-wrap-heading">
      <div class="load-text"> <span>L</span> <span>o</span> <span>a</span> <span>d</span> <span>i</span> <span>n</span> <span>g</span> </div>
    </div>
  </div>
  <!-- Loader End -->
  
  <!-- Header Style One Start -->
  <header class="header-style-one" >
    <div class="container">
      <div class="row">
        <div class="desktop-nav" id="stickyHeader">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex-all justify-content-between">
                  <div class="header-logo">
                    <a href="index.html">
                      <figure>
                        <img src="assets/images/logo-2.svg" alt="logoo">
                      </figure>
                    </a>
                  </div>
                  <div class="nav-bar">
                    <ul>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">Home</a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Home One</a></li>
                          <li><a href="index-2.html">Home Two</a></li>
                          <li><a href="index-3.html">Home Three</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">About</a>
                        <ul class="sub-menu">
                          <li><a href="about.html">About</a></li>
                          <li><a href="features-and-benefits.html">features & benefits</a></li> 
                        </ul>
                      </li>
                      <li class="menu-item-has-children"><a href="JavaScript:void(0)">Shop</a>
                        <ul class="sub-menu"> 
                          <li> <a href="product.html">Our Products</a></li>
                          <li><a href="product-detail.html">Product Details</a></li>
                          <li><a href="cart.html">Shop Cart</a></li>
                          <li><a href="checkout.html">Cart Checkout</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children"><a href="JavaScript:void(0)">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Services</a>
                            <ul class="sub-menu">
                              <li><a href="services.html">services</a></li>
                              <li><a href="service-detail.html">Service Detail</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Classes</a>
                            <ul class="sub-menu">
                              <li><a href="our-classes.html">our classes</a></li>
                              <li><a href="our-classes-2.html">our classes 2</a></li>
                              <li><a href="class-details.html">class details</a></li>
                              <li><a href="classes-schedule.html">classes schedule</a></li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Team</a>
                            <ul class="sub-menu">
                              <li><a href="our-team.html">Our Team</a></li>
                              <li><a href="team-detail.html">Team Detail</a></li>
                            </ul>
                          </li>
                          <li><a href="login.html">Login & Register</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0)">News</a>
                        <ul class="sub-menu">
                          <li><a href="our-blog-1.html">Our Blog One</a></li>
                          <li><a href="our-blog-2.html">Our Blog Two</a></li>
                          <li><a href="blog-detail.html">Blog Detail</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="contact.html">Contact</a>
                      </li>
                    </ul>
                    
                    <div class="extras">
                       <a href="javascript:void(0)" id="mobile-menu" class="menu-start">
                        <svg id="ham-menu" viewBox="0 0 100 100"> <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" /> <path class="line line2" d="M 20,50 H 80" /> <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" /> </svg>
                      </a>
                      <a href="javascript:void(0)" id="desktop-menu" class="menu-start">
                        <svg id="ham-menue" viewBox="0 0 100 100"> <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" /> <path class="line line2" d="M 20,50 H 80" /> <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" /> </svg>
                      </a>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="theme-btn">Appointment
                      </a>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-nav" id="mobile-nav">
          <div class="res-log">
            <a href="index.html">
              <img src="assets/images/logo-2.svg" alt="Responsive Logo">
            </a>
          </div>
          <ul>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">Home</a>
              <ul class="sub-menu">
                <li><a href="index.html">Home One</a></li>
                <li><a href="index-2.html">Home Two</a></li>
                <li><a href="index-3.html">Home Three</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">About</a>
              <ul class="sub-menu">
                <li><a href="about.html">AbouT</a></li>
                <li><a href="features-and-benefits.html">features & benefits</a></li>  
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Shop</a>
              <ul class="sub-menu">
                <li><a href="product.html">Our Products</a></li>
                <li><a href="product-detail.html">Product Details</a></li>
                <li><a href="cart.html">Shop Cart</a></li>
                <li><a href="checkout.html">Cart Checkout</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">Services</a>
                  <ul class="sub-menu">
                    <li><a href="services.html">services</a></li>
                    <li><a href="service-detail.html">Service Detail</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">classes</a>
                  <ul class="sub-menu">
                    <li><a href="our-classes.html">our classes</a></li>
                    <li><a href="our-classes-2.html">our classes 2</a></li>
                    <li><a href="class-details.html">class details</a></li>
                    <li><a href="classes-schedule.html">classes schedule</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="javascript:void(0)">Team</a>
                  <ul class="sub-menu">
                    <li><a href="our-team.html">Our Team</a></li>
                    <li><a href="team-detail.html">Team Detail</a></li>
                  </ul>
                </li>
                <li><a href="login.html">Login & Register</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="javascript:void(0)">News</a>
              <ul class="sub-menu">
                <li><a href="our-blog-1.html">Our Blog One</a></li>
                <li><a href="our-blog-2.html">Our Blog Two</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <a href="JavaScript:void(0)" id="res-cross"></a>
        </div>
        <div class="mobile-nav desktop-menu">
          <h2>Solutions for moving better and feeling a healthier choice</h2>
          <p class="des">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies.</p>
          <figure>
            <img src="https://via.placeholder.com/320x222" alt="Desktop Menu Image">
          </figure>
          <h3>Free Consulting</h3>
          <p class="num"><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
          <p class="adrs">Timing: Mon to Sat : 08 pm to 12 am</p>
          <ul class="social-media">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="flaticon-twitter"></i></a></li>
              <li><a href="#"><i class="flaticon-instagram"></i></a></li> 
            </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Style One End -->

  <!-- Banner Style One Start -->
  <section class="banner-style-one">
    <div class="parallax" style="background-image: url(https://via.placeholder.com/1920x640);"></div>
    <div class="container">
      <div class="row">
        <div class="banner-details">
          <h2>Team Detail</h2>
          <p>our values and vaulted us to the top of our industry.</p>
        </div>
      </div>
    </div>
    <div class="breadcrums">
      <div class="container">
        <div class="row">
          <ul>
            <li>
              <a href="index.html">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="current">
              <p>Team Detail</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Style One End -->

  <!-- Blog Style Three Start -->
  <section class="gap blog-style-one team-detail detail-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row align-items-end">
            <div class="col-lg-6">
              <div class="team-data">
                <h3>Mr. Robin Olivar</h3>
                <p>Bodybuilding Coach</p>
                <ul class="t-contact">
                  <li>
                    <span>Location:</span>
                    <p>New York, United State</p>
                  </li>
                  <li>
                    <span>Experience:</span>
                    <p>2 Years in the gym fitness center experience.</p>
                  </li>
                </ul> 
                <div class="t-tel">
                  <div class="data">
                     
                    <div class="t-sec">
                      <p>Telephone:</p>
                      <span><b>Tel:</b><a href="callto:(+380)503184707">  (+380) 50 318 47 07</a></span> 
                    </div>
                    <div class="gym-time"><h4>Timing:</h4><span>  Mon to Sat : 08 pm to 12 am</span></div>
                  </div>
                  <a href="javascript:void(0)" class="theme-btn">Get a Consultation </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="image">
                <figure>
                  <img src="https://via.placeholder.com/569x639" alt="Team Detail Image One">
                </figure>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="t-detail">
              <h3>What is your professional passion?</h3>
              <p>focused on maintaining a healthy lifestyle. To cater to the physical well-being of the probationers a number of sports facilities are available in the Academy which includes: <span>sports grounds for cricket, football,</span> basketball, volleyball, jogging track, tennis courts, badminton courts etc. In addition to these, indoor facilities for Snooker and Squash are also available. A Gymnasium situated near the sports ground is also available. It is equipped with the latest fitness equipment ensuring a wide range of exercise options for strength training, cardio and flexibility.</p>
              <div class="service-detail-first detail-page">
                <div class="who-we-are">
                  <div>
                     <ul>
                      <li>Regular physical activity can help you fall asleep faster, get better sleep</li>
                      <li>Exercise sends oxygen and nutrients to your tissues and helps your cardiovascular system work </li>
                      <li>A gym session or brisk walk can help. Physical activity stimulates many brain chemicals</li>
                      <li>Exercise combats health conditions and diseases</li>
                      <li>A New Art of Fitness in your Town</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </section>
  <section class="gap no-top project-style-one addition">
    <div class="container">
      <div class="heading">
        <h2>gym classes</h2>
      </div>
      <div class="row project-slider">
        <div class="col-lg-6">
          <div class="project-post">
            <figure>
              <img src="https://via.placeholder.com/546x336" alt="project-img-1">
            </figure>
            <div class="project-data">
                <h4>Sunday: 8pm - 11pm</h4>
                <h3><a href="class-details.html">Fitness Ball</a></h3>  
                <a class="project-icon" href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="project-post">
            <figure>
              <img src="https://via.placeholder.com/546x336" alt="project-img-1">
            </figure>
            <div class="project-data">
                <h4>Monday: 8pm - 11pm</h4>
                <h3><a href="class-details.html">Bench Press</a></h3>  
                <a class="project-icon" href="#">read more</a>
            </div>
          </div>
        </div> 
      </div>
    </div> 
  </section>
          
  <!-- Blog Style Three End -->

  <!-- Footer Style One Start -->
  <footer class="footer-style-one" style="background-image: url(https://via.placeholder.com/1920x732);">
    <div class="footer-p-1">
      <div class="container">
        <div class="row">
          <div class="footer-first">
            <div class="footer-logo">
              <a href="index.html">
                <img src="assets/images/logo-2.svg" alt="Footer Logo">
              </a>
            </div>
            <div class="contact-info d-flex-all">
              <div class="images d-flex-all justify-content-start">
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
                <figure>
                  <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                </figure>
              </div>
              <p>expert trainers <span>+1 (251) 344 0 66</span> free call !</p>
            </div>
            <a href="contact.html" class="theme-btn">Get a Consultation </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-p-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Information</h3>
              <p>Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day.</p>
              <ul class="social-media">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                <li><a href="#"><i class="flaticon-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Contact</h3>
              <ul>
                <li>
                   <i class="flaticon-maps"></i>
                  <p>901 N Pitt Str., Suite 170, VA 22314, USA</p>
                </li>
                <li>
                   <i class="flaticon-iphone"></i>
                  <p><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
                </li>
                <li>
                   <i class="flaticon-mail"></i>
                  <p><a href="mailto:username@domain.com">username@domain.com</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-col">
              <h3>Newsletter</h3>
              <p>Signup for our weekly newsletter to get the latest news.</p>
              <form>
                <input type="email" name="email" placeholder="Enter your email.">
                <button>
                  <i class="fa-solid fa-arrow-up-long"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="image-gallery">
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li>
      <li>
          <a href="https://via.placeholder.com/250x150" data-fancybox="gallery">
              <i class="flaticon-instagram"></i>
          </a>
          <figure><img alt="girl" src="https://via.placeholder.com/250x150"></figure>
      </li> 
    </ul>
    <div class="footer-p-3 rights">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <p>gym on fitness Center<i class="fa-solid fa-heart"></i> © 2024 <a href="https://winsfolio.net/"> winsfolio.net</a> All rights reserved</p> 
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Style One End -->
    
    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>

    <div class="modal fade popups conslt-popup" id="exampleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="https://via.placeholder.com/420x591" alt="img">
            <div class="contact-form-one popup">
              <div class="c-form-2">
                <h3>Start Consulting</h3>
                <div class="parallax" style="background-image: url(assets/images/pattren.png);"></div>
                <form>
                  <div class="row g-0">
                    <input type="text" class="form-control" id="exampleInputText1"  placeholder="Complete Name">
                  </div>
                  <div class="row g-0">
                    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Email Address">
                  </div>
                  <div class="row g-0">
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone No">
                  </div>
                  <div class="row g-0">
                    <select id="inputState-21" class="form-control">
                      <option selected>Subject</option>
                      <option>Subject 1</option>
                      <option>Subject 2</option>
                      <option>Subject 3</option>
                    </select>
                  </div>
                  <div class="row g-0">
                    <textarea placeholder="Question / Message?"></textarea>
                  </div>
                  <button type="submit" class="theme-btn">Submit Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Jquery -->

  <script src="assets/js/jquery.min.js"></script>

  <!-- Waypoint -->

  <script src="assets/js/jquery.waypoints.min.js"></script>


  <!-- Counter -->

  <script src="assets/js/jquery.counterup.min.js"></script>

  <!-- Bootstrap Js -->

  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Fancybox Js -->

  <script src="assets/js/jquery.fancybox.min.js"></script>

  <!-- Nice Select Js -->

  <script src="assets/js/jquery.nice-select.js"></script> 

  <!-- Owl Carousal Js -->

  <script src="assets/js/owl.carousel.min.js"></script>

  <!-- Custom Js -->

  <script src="assets/js/custom.js"></script>
</body>

</html>
